﻿.ja_body {
    padding: 10px;
    color: #ffffff;
    text-align: center;
    background: -webkit-linear-gradient(left,#356330,#103710);
    background: -o-linear-gradient(right,#356330,#103710);
    background: -moz-linear-gradient(right,#356330,#103710);
    background: linear-gradient(to right,#356330,#103710);
}

.ja_btn_wrap.optBack {
    display: none;
}
.ja_btn_wrap.optBack {
    display: none;
}

a:link {
    color: orange;
}

a:visited {
    color: orange;
}

a:hover {
    color: orange;
}

a:active {
    color: orange;
}