@charset "utf-8";
/* CSS Document */


/* CSS3 Animations
*****************************************************************/
/* 背景星辰 *****/
	.nebula {
		-webkit-animation: nebula 240s linear infinite;
		   -moz-animation: nebula 240s linear infinite;
			-ms-animation: nebula 240s linear infinite;
			 -o-animation: nebula 240s linear infinite;
				animation: nebula 240s linear infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
	.nebula_fadeIn{
		-webkit-animation: nebula_fadeIn 10s infinite;
		   -moz-animation: nebula_fadeIn 10s infinite;
			-ms-animation: nebula_fadeIn 10s infinite;
			 -o-animation: nebula_fadeIn 10s infinite;
				animation: nebula_fadeIn 10s infinite;
	    -webkit-transform-origin: center;
		   -moz-transform-origin: center;
			-ms-transform-origin: center;
			 -o-transform-origin: center;
				transform-origin: center;
	}
@keyframes nebula {
	from {
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			 -o-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
@keyframes nebula_fadeIn {
	from {
		opacity: 0;
		visibility: invisible;
		-webkit-transform: translateX(0%);
		   -moz-transform: translateX(0%);
			-ms-transform: translateX(0%);
			 -o-transform: translateX(0%);
				transform: translateX(0%);
	}
	30% {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateX(-10%);
		   -moz-transform: translateX(-10%);
			-ms-transform: translateX(-10%);
			 -o-transform: translateX(-10%);
				transform: translateX(-10%);
	}
	70% {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateX(-10%);
		   -moz-transform: translateX(-10%);
			-ms-transform: translateX(-10%);
			 -o-transform: translateX(-10%);
				transform: translateX(-10%);
	}
	100% {
		opacity: 0;
		visibility: invisible;
		-webkit-transform: translateX(-20%);
		   -moz-transform: translateX(-20%);
			-ms-transform: translateX(-20%);
			 -o-transform: translateX(-20%);
				transform: translateX(-20%);
	}
}






/* 背景流星 *****/
.meteor {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
	 	 -o-transform: rotate(-45deg);
			transform: rotate(-45deg);
	background-image: -webkit-linear-gradient(left, white, rgba(255,255,255,0));
	background-image: -moz-linear-gradient(left, white, rgba(255,255,255,0));
	background-image: -ms-linear-gradient(left, white, rgba(255,255,255,0));
	background-image: -o-linear-gradient(left, white, rgba(255,255,255,0));
	background-image: linear-gradient(left, white, rgba(255,255,255,0));
}
.meteor:nth-child(1) {
	-webkit-animation: meteor 6s linear infinite;
	   -moz-animation: meteor 6s linear infinite;
		-ms-animation: meteor 6s linear infinite;
		 -o-animation: meteor 6s linear infinite;
			animation: meteor 6s linear infinite;
}
.meteor:nth-child(2) {
	-webkit-animation: meteor 5s linear infinite;
	   -moz-animation: meteor 5s linear infinite;
		-ms-animation: meteor 5s linear infinite;
		 -o-animation: meteor 5s linear infinite;
			animation: meteor 5s linear infinite;
}
.meteor:nth-child(3) {
	-webkit-animation: meteor 8s linear infinite;
	   -moz-animation: meteor 8s linear infinite;
		-ms-animation: meteor 8s linear infinite;
		 -o-animation: meteor 8s linear infinite;
			animation: meteor 8s linear infinite;
}
.meteor:nth-child(4) {
	-webkit-animation: meteor 6s linear infinite;
	   -moz-animation: meteor 6s linear infinite;
		-ms-animation: meteor 6s linear infinite;
		 -o-animation: meteor 6s linear infinite;
			animation: meteor 6s linear infinite;
}
.meteor:nth-child(5) {
	-webkit-animation: meteor 8s linear infinite;
	   -moz-animation: meteor 8s linear infinite;
		-ms-animation: meteor 8s linear infinite;
		 -o-animation: meteor 8s linear infinite;
			animation: meteor 8s linear infinite;
}
.meteor:nth-child(6) {
	-webkit-animation: meteor 5s linear infinite;
	   -moz-animation: meteor 5s linear infinite;
		-ms-animation: meteor 5s linear infinite;
		 -o-animation: meteor 5s linear infinite;
			animation: meteor 5s linear infinite;
}
.meteor:nth-child(7) {
	-webkit-animation: meteor 5s linear infinite;
	   -moz-animation: meteor 5s linear infinite;
		-ms-animation: meteor 5s linear infinite;
		 -o-animation: meteor 5s linear infinite;
			animation: meteor 5s linear infinite;
}
.meteor:nth-child(8) {
	-webkit-animation: meteor 6s linear infinite;
	   -moz-animation: meteor 6s linear infinite;
		-ms-animation: meteor 6s linear infinite;
		 -o-animation: meteor 6s linear infinite;
			animation: meteor 6s linear infinite;
}
.meteor:nth-child(9) {
	-webkit-animation: meteor 5s linear infinite;
	   -moz-animation: meteor 5s linear infinite;
		-ms-animation: meteor 5s linear infinite;
		 -o-animation: meteor 5s linear infinite;
			animation: meteor 5s linear infinite;
}


@-webkit-keyframes meteor {
	0%  { margin-top: -300px; margin-right: -300px; opacity: 1}
	8%  { opacity: 0}
	10% { margin-top: 300px; margin-left: -600px; opacity: 0}
	100%{ opacity: 0}
}
@-moz-keyframes meteor {
	0%  { margin-top: -300px; margin-right: -300px; opacity: 1}
	8%  { opacity: 0}
	10% { margin-top: 300px; margin-left: -600px; opacity: 0}
	100%{ opacity: 0}
}
@-ms-keyframes meteor {
	0%  { margin-top: -300px; margin-right: -300px; opacity: 1}
	8%  { opacity: 0}
	10% { margin-top: 300px; margin-left: -600px; opacity: 0}
	100%{ opacity: 0}
}
@-o-keyframes meteor {
	0%  { margin-top: -300px; margin-right: -300px; opacity: 1}
	8%  { opacity: 0}
	10% { margin-top: 300px; margin-left: -600px; opacity: 0}
	100%{ opacity: 0}
}
@keyframes meteor {
	0%  { margin-top: -300px; margin-right: -300px; opacity: 1}
	8%  { opacity: 0}
	10% { margin-top: 300px; margin-left: -600px; opacity: 0}
	100%{ opacity: 0}
}






/* 背景下雨 *****/
.dropss_rainbox {
	-webkit-animation: dropss_rainbox 0.5s linear infinite;
	   -moz-animation: dropss_rainbox 0.5s linear infinite;
		-ms-animation: dropss_rainbox 0.5s linear infinite;
		 -o-animation: dropss_rainbox 0.5s linear infinite;
			animation: dropss_rainbox 0.5s linear infinite;
}
@keyframes dropss_rainbox {
	0% {
		-webkit-transform: translateY(0vh);
		   -moz-transform: translateY(0vh);
			-ms-transform: translateY(0vh);
			 -o-transform: translateY(0vh);
				transform: translateY(0vh);
	}
	75% {
		-webkit-transform: translateY(23vh);
		   -moz-transform: translateY(23vh);
			-ms-transform: translateY(23vh);
			 -o-transform: translateY(23vh);
				transform: translateY(23vh);
	}
	100% {
		-webkit-transform: translateY(23vh);
		   -moz-transform: translateY(23vh);
			-ms-transform: translateY(23vh);
			 -o-transform: translateY(23vh);
				transform: translateY(23vh);
	}
}
.stem {
	-webkit-animation: stem 0.5s linear infinite;
	   -moz-animation: stem 0.5s linear infinite;
		-ms-animation: stem 0.5s linear infinite;
		 -o-animation: stem 0.5s linear infinite;
			animation: stem 0.5s linear infinite;
}
@keyframes stem {
	0% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
.splat {
	opacity: 1;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
		-ms-transform: scale(0);
		 -o-transform: scale(0);
			transform: scale(0);
	-webkit-animation: splat 0.5s linear infinite;
	   -moz-animation: splat 0.5s linear infinite;
		-ms-animation: splat 0.5s linear infinite;
		 -o-animation: splat 0.5s linear infinite;
			animation: splat 0.5s linear infinite;
}
@keyframes splat {
	0% {
		opacity: 1;
		-webkit-transform: scale(0);
		   -moz-transform: scale(0);
			-ms-transform: scale(0);
			 -o-transform: scale(0);
				transform: scale(0);
	}
	80% {
		opacity: 1;
		-webkit-transform: scale(0);
		   -moz-transform: scale(0);
			-ms-transform: scale(0);
			 -o-transform: scale(0);
				transform: scale(0);
	}
	90% {
		opacity: 0.5;
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
			-ms-transform: scale(1);
			 -o-transform: scale(1);
				transform: scale(1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.5);
		   -moz-transform: scale(1.5);
			-ms-transform: scale(1.5);
			 -o-transform: scale(1.5);
				transform: scale(1.5);
	}
}






/* 背景物件 *****/
/* 物件旋轉 */
.object_rotate {
		-webkit-animation: nebula 240s linear infinite;
		   -moz-animation: nebula 240s linear infinite;
			-ms-animation: nebula 240s linear infinite;
			 -o-animation: nebula 240s linear infinite;
				animation: nebula 240s linear infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
.object_rotateB {
		-webkit-animation: object_rotate 15s linear infinite;
		   -moz-animation: object_rotate 15s linear infinite;
			-ms-animation: object_rotate 15s linear infinite;
			 -o-animation: object_rotate 15s linear infinite;
				animation: object_rotate 15s linear infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
.object_rotateC {
		-webkit-animation: object_rotate 15s linear infinite;
		   -moz-animation: object_rotate 15s linear infinite;
			-ms-animation: object_rotate 15s linear infinite;
			 -o-animation: object_rotate 15s linear infinite;
				animation: object_rotate 15s linear infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
.object_rotateD {
		-webkit-animation: object_rotate 35s linear infinite;
		   -moz-animation: object_rotate 35s linear infinite;
			-ms-animation: object_rotate 35s linear infinite;
			 -o-animation: object_rotate 35s linear infinite;
				animation: object_rotate 35s linear infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
.object_rotateE {
		-webkit-animation: object_rotate 8s linear infinite;
		   -moz-animation: object_rotate 8s linear infinite;
			-ms-animation: object_rotate 8s linear infinite;
			 -o-animation: object_rotate 8s linear infinite;
				animation: object_rotate 8s linear infinite;
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
@keyframes object_rotate {
	from {
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			 -o-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}


/* 物件垂直移動 */
.move_verticalA{
		-webkit-animation: move_verticalA 2s ease-in-out infinite;
		   -moz-animation: move_verticalA 2s ease-in-out infinite;
			-ms-animation: move_verticalA 2s ease-in-out infinite;
			 -o-animation: move_verticalA 2s ease-in-out infinite;
				animation: move_verticalA 2s ease-in-out infinite;
		-webkit-transform: translateY(-20px);
		   -moz-transform: translateY(-20px);
			-ms-transform: translateY(-20px);
			 -o-transform: translateY(-20px);
				transform: translateY(-20px);
	}
.move_verticalB{
		-webkit-animation: move_verticalB 1.6s ease-in-out infinite;
		   -moz-animation: move_verticalB 1.6s ease-in-out infinite;
			-ms-animation: move_verticalB 1.6s ease-in-out infinite;
			 -o-animation: move_verticalB 1.6s ease-in-out infinite;
				animation: move_verticalB 1.6s ease-in-out infinite;
		-webkit-transform: translateY(10px);
		   -moz-transform: translateY(10px);
			-ms-transform: translateY(10px);
			 -o-transform: translateY(10px);
				transform: translateY(10px);
	}
.move_verticalC{
		-webkit-animation: move_verticalB 2.8s ease-in-out infinite;
		   -moz-animation: move_verticalB 2.8s ease-in-out infinite;
			-ms-animation: move_verticalB 2.8s ease-in-out infinite;
			 -o-animation: move_verticalB 2.8s ease-in-out infinite;
				animation: move_verticalB 2.8s ease-in-out infinite;
		-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			 -o-transform: translateY(0px);
				transform: translateY(0px);
	}
.move_verticalD{
		-webkit-animation: move_verticalD 2.8s ease-in-out infinite;
		   -moz-animation: move_verticalD 2.8s ease-in-out infinite;
			-ms-animation: move_verticalD 2.8s ease-in-out infinite;
			 -o-animation: move_verticalD 2.8s ease-in-out infinite;
				animation: move_verticalD 2.8s ease-in-out infinite;
		-webkit-transform: translateY(0px) rotate(90deg);
		   -moz-transform: translateY(0px) rotate(90deg);
			-ms-transform: translateY(0px) rotate(90deg);
			 -o-transform: translateY(0px) rotate(90deg);
				transform: translateY(0px) rotate(90deg);
	}
.move_verticalE{
		-webkit-animation: move_verticalE 3.6s ease-in-out infinite;
		   -moz-animation: move_verticalE 3.6s ease-in-out infinite;
			-ms-animation: move_verticalE 3.6s ease-in-out infinite;
			 -o-animation: move_verticalE 3.6s ease-in-out infinite;
				animation: move_verticalE 3.6s ease-in-out infinite;
		-webkit-transform: translateY(0px) rotate(5deg);
		   -moz-transform: translateY(0px) rotate(5deg);
			-ms-transform: translateY(0px) rotate(5deg);
			 -o-transform: translateY(0px) rotate(5deg);
				transform: translateY(0px) rotate(5deg);
	}
.move_verticalF{
		-webkit-animation: move_verticalF 5.8s ease-in-out infinite;
		   -moz-animation: move_verticalF 5.8s ease-in-out infinite;
			-ms-animation: move_verticalF 5.8s ease-in-out infinite;
			 -o-animation: move_verticalF 5.8s ease-in-out infinite;
				animation: move_verticalF 5.8s ease-in-out infinite;
		-webkit-transform: translateY(0px)(-15deg);
		   -moz-transform: translateY(0px)(-15deg);
			-ms-transform: translateY(0px)(-15deg);
			 -o-transform: translateY(0px)(-15deg);
				transform: translateY(0px)(-15deg);
	}

@keyframes move_verticalA {
	0% {
		-webkit-transform:translateY(0px);
		   -moz-transform:translateY(0px);
			-ms-transform:translateY(0px);
			 -o-transform:translateY(0px);
				transform:translateY(0px);
	}
	50% {
		-webkit-transform:translateY(-20px);
		   -moz-transform:translateY(-20px);
			-ms-transform:translateY(-20px);
			 -o-transform:translateY(-20px);
				transform:translateY(-20px);
	}
	100% {
		-webkit-transform:translateY(0px);
		   -moz-transform:translateY(0px);
			-ms-transform:translateY(0px);
			 -o-transform:translateY(0px);
				transform:translateY(0px);
	}
}
@keyframes move_verticalB {
	0% {
		-webkit-transform:translateY(10px);
		   -moz-transform:translateY(10px);
			-ms-transform:translateY(10px);
			 -o-transform:translateY(10px);
				transform:translateY(10px);
	}
	50% {
		-webkit-transform:translateY(-10px);
		   -moz-transform:translateY(-10px);
			-ms-transform:translateY(-10px);
			 -o-transform:translateY(-10px);
				transform:translateY(-10px);
	}
	100% {
		-webkit-transform:translateY(10px);
		   -moz-transform:translateY(10px);
			-ms-transform:translateY(10px);
			 -o-transform:translateY(10px);
				transform:translateY(10px);
	}
}
@keyframes move_verticalC {
	0% {
		-webkit-transform:translateY(0px);
		   -moz-transform:translateY(0px);
			-ms-transform:translateY(0px);
			 -o-transform:translateY(0px);
				transform:translateY(0px);
	}
	50% {
		-webkit-transform:translateY(20px);
		   -moz-transform:translateY(20px);
			-ms-transform:translateY(20px);
			 -o-transform:translateY(20px);
				transform:translateY(20px);
	}
	100% {
		-webkit-transform:translateY(0px);
		   -moz-transform:translateY(0px);
			-ms-transform:translateY(0px);
			 -o-transform:translateY(0px);
				transform:translateY(0px);
	}
}
@keyframes move_verticalD {
	0% {
		-webkit-transform: translateY(0px) rotate(90deg);
		   -moz-transform: translateY(0px) rotate(90deg);
			-ms-transform: translateY(0px) rotate(90deg);
			 -o-transform: translateY(0px) rotate(90deg);
				transform: translateY(0px) rotate(90deg);
	}
	50% {
		-webkit-transform:translateY(10px) rotate(90deg);
		   -moz-transform:translateY(10px) rotate(90deg);
			-ms-transform:translateY(10px) rotate(90deg);
			 -o-transform:translateY(10px) rotate(90deg);
				transform:translateY(10px) rotate(90deg);
	}
	100% {
		-webkit-transform: translateY(0px) rotate(90deg);
		   -moz-transform: translateY(0px) rotate(90deg);
			-ms-transform: translateY(0px) rotate(90deg);
			 -o-transform: translateY(0px) rotate(90deg);
				transform: translateY(0px) rotate(90deg);
	}
}
@keyframes move_verticalE {
	0% {
		-webkit-transform: translateY(0px) rotate(5deg);
		   -moz-transform: translateY(0px) rotate(5deg);
			-ms-transform: translateY(0px) rotate(5deg);
			 -o-transform: translateY(0px) rotate(5deg);
				transform: translateY(0px) rotate(5deg);
	}
	50% {
		-webkit-transform:translateY(10px) rotate(5deg);
		   -moz-transform:translateY(10px) rotate(5deg);
			-ms-transform:translateY(10px) rotate(5deg);
			 -o-transform:translateY(10px) rotate(5deg);
				transform:translateY(10px) rotate(5deg);
	}
	100% {
		-webkit-transform: translateY(0px) rotate(5deg);
		   -moz-transform: translateY(0px) rotate(5deg);
			-ms-transform: translateY(0px) rotate(5deg);
			 -o-transform: translateY(0px) rotate(5deg);
				transform: translateY(0px) rotate(5deg);
	}
}
@keyframes move_verticalF {
	0% {
		-webkit-transform: translateY(0px) rotate(-15deg);
		   -moz-transform: translateY(0px) rotate(-15deg);
			-ms-transform: translateY(0px) rotate(-15deg);
			 -o-transform: translateY(0px) rotate(-15deg);
				transform: translateY(0px) rotate(-15deg);
	}
	50% {
		-webkit-transform:translateY(10px) rotate(-15deg);
		   -moz-transform:translateY(10px) rotate(-15deg);
			-ms-transform:translateY(10px) rotate(-15deg);
			 -o-transform:translateY(10px) rotate(-15deg);
				transform:translateY(10px) rotate(-15deg);
	}
	100% {
		-webkit-transform: translateY(0px) rotate(-15deg);
		   -moz-transform: translateY(0px) rotate(-15deg);
			-ms-transform: translateY(0px) rotate(-15deg);
			 -o-transform: translateY(0px) rotate(-15deg);
				transform: translateY(0px) rotate(-15deg);
	}
}


/* 物件弧度移動 */
.move_radian{
		-webkit-animation: move_radian 5s ease-in-out infinite;
		   -moz-animation: move_radian 5s ease-in-out infinite;
			-ms-animation: move_radian 5s ease-in-out infinite;
			 -o-animation: move_radian 5s ease-in-out infinite;
				animation: move_radian 5s ease-in-out infinite;
		-webkit-transform: rotate(-30deg);
		   -moz-transform: rotate(-30deg);
			-ms-transform: rotate(-30deg);
			 -o-transform: rotate(-30deg);
				transform: rotate(-30deg);
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
	}
.move_radianB{
		-webkit-animation: move_radian 6s ease-in-out infinite;
		   -moz-animation: move_radian 6s ease-in-out infinite;
			-ms-animation: move_radian 6s ease-in-out infinite;
			 -o-animation: move_radian 6s ease-in-out infinite;
				animation: move_radian 6s ease-in-out infinite;
		-webkit-transform: rotate(-15deg);
		   -moz-transform: rotate(-15deg);
			-ms-transform: rotate(-15deg);
			 -o-transform: rotate(-15deg);
				transform: rotate(-15deg);
		-webkit-transform-origin: 50% 100%;
		   -moz-transform-origin: 50% 100%;
			-ms-transform-origin: 50% 100%;
			 -o-transform-origin: 50% 100%;
				transform-origin: 50% 100%;
	}
.move_radianC{
		-webkit-animation: move_radian_swing 3s ease-in-out infinite;
		   -moz-animation: move_radian_swing 3s ease-in-out infinite;
			-ms-animation: move_radian_swing 3s ease-in-out infinite;
			 -o-animation: move_radian_swing 3s ease-in-out infinite;
				animation: move_radian_swing 3s ease-in-out infinite;
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
		-webkit-transform-origin: 50% 0%;
		   -moz-transform-origin: 50% 0%;
			-ms-transform-origin: 50% 0%;
			 -o-transform-origin: 50% 0%;
				transform-origin: 50% 0%;
	}
.move_radianD{
		-webkit-animation: move_radian_swing 6s ease-in-out infinite;
		   -moz-animation: move_radian_swing 6s ease-in-out infinite;
			-ms-animation: move_radian_swing 6s ease-in-out infinite;
			 -o-animation: move_radian_swing 6s ease-in-out infinite;
				animation: move_radian_swing 6s ease-in-out infinite;
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
		-webkit-transform-origin: 50% 0%;
		   -moz-transform-origin: 50% 0%;
			-ms-transform-origin: 50% 0%;
			 -o-transform-origin: 50% 0%;
				transform-origin: 50% 0%;
	}
.move_radianE{
		-webkit-animation: move_radian_swingB 4s ease-in-out infinite;
		   -moz-animation: move_radian_swingB 4s ease-in-out infinite;
			-ms-animation: move_radian_swingB 4s ease-in-out infinite;
			 -o-animation: move_radian_swingB 4s ease-in-out infinite;
				animation: move_radian_swingB 4s ease-in-out infinite;
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
		-webkit-transform-origin: 50% 0%;
		   -moz-transform-origin: 50% 0%;
			-ms-transform-origin: 50% 0%;
			 -o-transform-origin: 50% 0%;
				transform-origin: 50% 0%;
	}
.move_radianF{
		-webkit-animation: move_radian_swingC 4s ease-in-out infinite;
		   -moz-animation: move_radian_swingC 4s ease-in-out infinite;
			-ms-animation: move_radian_swingC 4s ease-in-out infinite;
			 -o-animation: move_radian_swingC 4s ease-in-out infinite;
				animation: move_radian_swingC 4s ease-in-out infinite;
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
		-webkit-transform-origin: 50% 0%;
		   -moz-transform-origin: 50% 0%;
			-ms-transform-origin: 50% 0%;
			 -o-transform-origin: 50% 0%;
				transform-origin: 50% 0%;
	}
.move_radianG{
		-webkit-animation: move_radian_swingC 2s ease-in-out infinite;
		   -moz-animation: move_radian_swingC 2s ease-in-out infinite;
			-ms-animation: move_radian_swingC 2s ease-in-out infinite;
			 -o-animation: move_radian_swingC 2s ease-in-out infinite;
				animation: move_radian_swingC 2s ease-in-out infinite;
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
		-webkit-transform-origin: 50% 0%;
		   -moz-transform-origin: 50% 0%;
			-ms-transform-origin: 50% 0%;
			 -o-transform-origin: 50% 0%;
				transform-origin: 50% 0%;
	}

@keyframes move_radian {
	0% {
		-webkit-transform:translateY(0px) rotate(-30deg);
		   -moz-transform:translateY(0px) rotate(-30deg);
			-ms-transform:translateY(0px) rotate(-30deg);
			 -o-transform:translateY(0px) rotate(-30deg);
				transform:translateY(0px) rotate(-30deg);
	}
	50% {
		-webkit-transform:translateY(-10px) rotate(-10deg);
		   -moz-transform:translateY(-10px) rotate(-10deg);
			-ms-transform:translateY(-10px) rotate(-10deg);
			 -o-transform:translateY(-10px) rotate(-10deg);
				transform:translateY(-10px) rotate(-10deg);
	}
	100% {
		-webkit-transform:translateY(0px) rotate(-30deg);
		   -moz-transform:translateY(0px) rotate(-30deg);
			-ms-transform:translateY(0px) rotate(-30deg);
			 -o-transform:translateY(0px) rotate(-30deg);
				transform:translateY(0px) rotate(-30deg);
	}
}
@keyframes move_radian_swing {
	0% {
		-webkit-transform:translateY(0px) rotate(10deg);
		   -moz-transform:translateY(0px) rotate(10deg);
			-ms-transform:translateY(0px) rotate(10deg);
			 -o-transform:translateY(0px) rotate(10deg);
				transform:translateY(0px) rotate(10deg);
	}
	50% {
		-webkit-transform:translateY(0px) rotate(-10deg);
		   -moz-transform:translateY(0px) rotate(-10deg);
			-ms-transform:translateY(0px) rotate(-10deg);
			 -o-transform:translateY(0px) rotate(-10deg);
				transform:translateY(0px) rotate(-10deg);
	}
	100% {
		-webkit-transform:translateY(0px) rotate(10deg);
		   -moz-transform:translateY(0px) rotate(10deg);
			-ms-transform:translateY(0px) rotate(10deg);
			 -o-transform:translateY(0px) rotate(10deg);
				transform:translateY(0px) rotate(10deg);
	}


}
@keyframes move_radian_swingB {
	0% {
		-webkit-transform:translateY(0px) rotate(5deg);
		   -moz-transform:translateY(0px) rotate(5deg);
			-ms-transform:translateY(0px) rotate(5deg);
			 -o-transform:translateY(0px) rotate(5deg);
				transform:translateY(0px) rotate(5deg);
	}
	50% {
		-webkit-transform:translateY(0px) rotate(-5deg);
		   -moz-transform:translateY(0px) rotate(-5deg);
			-ms-transform:translateY(0px) rotate(-5deg);
			 -o-transform:translateY(0px) rotate(-5deg);
				transform:translateY(0px) rotate(-5deg);
	}
	100% {
		-webkit-transform:translateY(0px) rotate(5deg);
		   -moz-transform:translateY(0px) rotate(5deg);
			-ms-transform:translateY(0px) rotate(5deg);
			 -o-transform:translateY(0px) rotate(5deg);
				transform:translateY(0px) rotate(5deg);
	}
}
@keyframes move_radian_swingC {
	0% {
		-webkit-transform:translateY(0px) rotate(16deg);
		   -moz-transform:translateY(0px) rotate(16deg);
			-ms-transform:translateY(0px) rotate(16deg);
			 -o-transform:translateY(0px) rotate(16deg);
				transform:translateY(0px) rotate(16deg);
	}
	50% {
		-webkit-transform:translateY(0px) rotate(-16deg);
		   -moz-transform:translateY(0px) rotate(-16deg);
			-ms-transform:translateY(0px) rotate(-16deg);
			 -o-transform:translateY(0px) rotate(-16deg);
				transform:translateY(0px) rotate(-16deg);
	}
	100% {
		-webkit-transform:translateY(0px) rotate(16deg);
		   -moz-transform:translateY(0px) rotate(16deg);
			-ms-transform:translateY(0px) rotate(16deg);
			 -o-transform:translateY(0px) rotate(16deg);
				transform:translateY(0px) rotate(16deg);
	}
}

/* 物件傾斜移動 */
.move_oblique{
		-webkit-animation: move_oblique 3.8s ease-out infinite;
		   -moz-animation: move_oblique 3.8s ease-out infinite;
			-ms-animation: move_oblique 3.8s ease-out infinite;
			 -o-animation: move_oblique 3.8s ease-out infinite;
				animation: move_oblique 3.8s ease-out infinite;
		-webkit-transform: rotate(-20deg);
		   -moz-transform: rotate(-20deg);
			-ms-transform: rotate(-20deg);
			 -o-transform: rotate(-20deg);
				transform: rotate(-20deg);
		-webkit-transform-origin: 50% 50%;
		   -moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			 -o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
	}
@keyframes move_oblique {
	0% {
		-webkit-transform:translateY(0px) translateX(0px) rotate(-20deg);
		   -moz-transform:translateY(0px) translateX(0px) rotate(-20deg);
			-ms-transform:translateY(0px) translateX(0px) rotate(-20deg);
			 -o-transform:translateY(0px) translateX(0px) rotate(-20deg);
				transform:translateY(0px) translateX(0px) rotate(-20deg);
	}
	50% {
		-webkit-transform:translateY(-10px) translateX(-10px) rotate(-30deg);
		   -moz-transform:translateY(-10px) translateX(-10px) rotate(-30deg);
			-ms-transform:translateY(-10px) translateX(-10px) rotate(-30deg);
			 -o-transform:translateY(-10px) translateX(-10px) rotate(-30deg);
				transform:translateY(-10px) translateX(-10px) rotate(-30deg);
	}
	100% {
		-webkit-transform:translateY(0px) translateX(0px) rotate(-20deg);
		   -moz-transform:translateY(0px) translateX(0px) rotate(-20deg);
			-ms-transform:translateY(0px) translateX(0px) rotate(-20deg);
			 -o-transform:translateY(0px) translateX(0px) rotate(-20deg);
				transform:translateY(0px) translateX(0px) rotate(-20deg);
	}
}






/* 物件 *****/
/* 其他 */
.smoke_01, .smoke_02{
	-webkit-transform: rotate(60deg);
	   -moz-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		 -o-transform: rotate(60deg);
			transform: rotate(60deg);
}






/* 浮島物件 *****/
/* 浮島 */
.island_all{
	-webkit-transform: translateY(-20px);
	   -moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		 -o-transform: translateY(-20px);
			transform: translateY(-20px);
	-webkit-animation: island 1.5s ease-in-out infinite;
	   -moz-animation: island 1.5s ease-in-out infinite;
		-ms-animation: island 1.5s ease-in-out infinite;
		 -o-animation: island 1.5s ease-in-out infinite;
			animation: island 1.5s ease-in-out infinite;
}
@keyframes island {
	40% {
		-webkit-transform:translateY(-10px);
		   -moz-transform:translateY(-10px);
			-ms-transform:translateY(-10px);
			 -o-transform:translateY(-10px);
				transform:translateY(-10px);
	}
	100% {
		-webkit-transform:translateY(-20px);
		   -moz-transform:translateY(-20px);
			-ms-transform:translateY(-20px);
			 -o-transform:translateY(-20px);
				transform:translateY(-20px);
	}
}


/* 浮島-水管 */
		.rocket div .fire01, .rocket div .fire02 {
			-webkit-transform: translateY(-20px);
			   -moz-transform: translateY(-20px);
				-ms-transform: translateY(-20px);
				 -o-transform: translateY(-20px);
					transform: translateY(-20px);
		}
		.rocket div .fire01 {
			-webkit-animation: pipeline01 .7s ease-in-out infinite;
			   -moz-animation: pipeline01 .7s ease-in-out infinite;
				-ms-animation: pipeline01 .7s ease-in-out infinite;
				 -o-animation: pipeline01 .7s ease-in-out infinite;
					animation: pipeline01 .7s ease-in-out infinite;
		}
		.rocket div .fire02 {
			-webkit-animation: pipeline02 1s ease-in-out infinite;
			   -moz-animation: pipeline02 1s ease-in-out infinite;
				-ms-animation: pipeline02 1s ease-in-out infinite;
				 -o-animation: pipeline02 1s ease-in-out infinite;
					animation: pipeline02 1s ease-in-out infinite;
		}
.pipeline div .pipeline01, .pipeline div .pipeline02 {
	-webkit-transform: translateY(-20px);
	   -moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		 -o-transform: translateY(-20px);
			transform: translateY(-20px);
}
.pipeline div .pipeline01 {
	-webkit-animation: pipeline01 .7s ease-in-out infinite;
	   -moz-animation: pipeline01 .7s ease-in-out infinite;
		-ms-animation: pipeline01 .7s ease-in-out infinite;
		 -o-animation: pipeline01 .7s ease-in-out infinite;
			animation: pipeline01 .7s ease-in-out infinite;
}
.pipeline div .pipeline02 {
	-webkit-animation: pipeline02 1s ease-in-out infinite;
	   -moz-animation: pipeline02 1s ease-in-out infinite;
		-ms-animation: pipeline02 1s ease-in-out infinite;
		 -o-animation: pipeline02 1s ease-in-out infinite;
			animation: pipeline02 1s ease-in-out infinite;
}
@keyframes pipeline01 {
	50% {
		-webkit-transform:translateY(-10px);
		   -moz-transform:translateY(-10px);
			-ms-transform:translateY(-10px);
			 -o-transform:translateY(-10px);
				transform:translateY(-10px);
	}
	100% {
		-webkit-transform:translateY(-20px);
		   -moz-transform:translateY(-20px);
			-ms-transform:translateY(-20px);
			 -o-transform:translateY(-20px);
				transform:translateY(-20px);
	}
}
@keyframes pipeline02 {
	40% {
		-webkit-transform:translateY(-10px);
		   -moz-transform:translateY(-10px);
			-ms-transform:translateY(-10px);
			 -o-transform:translateY(-10px);
				transform:translateY(-10px);
	}
	100% {
		-webkit-transform:translateY(-20px);
		   -moz-transform:translateY(-20px);
			-ms-transform:translateY(-20px);
			 -o-transform:translateY(-20px);
				transform:translateY(-20px);
	}
}


/* 浮島-石頭 */
.stone div .stone_green01, .stone div .stone_green02, .stone div .stone_green03,
.stone div .stone_brown01, .stone div .stone_brown02, .stone div .stone_brown03 {
	-webkit-transform: translate(0px, 0px);
	   -moz-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		 -o-transform: translate(0px, 0px);
			transform: translate(0px, 0px);
}
.stone div .stone_green01,
.stone div .stone_brown01 {
	-webkit-animation: stone01 2s ease-in-out infinite;
	   -moz-animation: stone01 2s ease-in-out infinite;
		-ms-animation: stone01 2s ease-in-out infinite;
		 -o-animation: stone01 2s ease-in-out infinite;
			animation: stone01 2s ease-in-out infinite;
}
.stone div .stone_green02,
.stone div .stone_brown02 {
	-webkit-animation: stone02 3s ease-in-out infinite;
	   -moz-animation: stone02 3s ease-in-out infinite;
		-ms-animation: stone02 3s ease-in-out infinite;
		 -o-animation: stone02 3s ease-in-out infinite;
			animation: stone02 3s ease-in-out infinite;
}
.stone div .stone_green03,
.stone div .stone_brown03 {
	-webkit-animation: stone03 2.5s ease-in-out infinite;
	   -moz-animation: stone03 2.5s ease-in-out infinite;
		-ms-animation: stone03 2.5s ease-in-out infinite;
		 -o-animation: stone03 2.5s ease-in-out infinite;
			animation: stone03 2.5s ease-in-out infinite;
}

@keyframes stone01 {
	50% {
		-webkit-transform:translate(-20px, 30px);
		   -moz-transform:translate(-20px, 30px);
			-ms-transform:translate(-20px, 30px);
			 -o-transform:translate(-20px, 30px);
				transform:translate(-20px, 30px);
	}
	100% {
		-webkit-transform:translate(0px, 0px);
		   -moz-transform:translate(0px, 0px);
			-ms-transform:translate(0px, 0px);
			 -o-transform:translate(0px, 0px);
				transform:translate(0px, 0px);
	}
}
@keyframes stone02 {
	40% {
		-webkit-transform:translate(-10px, 50px);
		   -moz-transform:translate(-10px, 50px);
			-ms-transform:translate(-10px, 50px);
			 -o-transform:translate(-10px, 50px);
				transform:translate(-10px, 50px);
	}
	100% {
		-webkit-transform:translate(0px, 0px);
		   -moz-transform:translate(0px, 0px);
			-ms-transform:translate(0px, 0px);
			 -o-transform:translate(0px, 0px);
				transform:translate(0px, 0px);
	}
}
@keyframes stone03 {
	30% {
		-webkit-transform:translate(-5px, 30px);
		   -moz-transform:translate(-5px, 30px);
			-ms-transform:translate(-5px, 30px);
			 -o-transform:translate(-5px, 30px);
				transform:translate(-5px, 30px);
	}
	100% {
		-webkit-transform:translate(0px, 0px);
		   -moz-transform:translate(0px, 0px);
			-ms-transform:translate(0px, 0px);
			 -o-transform:translate(0px, 0px);
				transform:translate(0px, 0px);
	}
}


/* 浮島-水滴 */
.dripping, .dripping_color {
	-webkit-filter: url("#goo");
	   -moz-filter: url("#goo");
		-ms-filter: url("#goo");
		 -o-filter: url("#goo");
			filter: url("#goo");
}
.dripping .toggle-btn, .dripping_color .toggle-btn {
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		 -o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	-webkit-filter: blur(0px);
	   -moz-filter: blur(0px);
		-ms-filter: blur(0px);
		 -o-filter: blur(0px);
			filter: blur(0px);
}
.dripping .drop, .dripping_color .drop {
	-webkit-transform: translate(-50%, -50%) rotate(-135deg);
	   -moz-transform: translate(-50%, -50%) rotate(-135deg);
		-ms-transform: translate(-50%, -50%) rotate(-135deg);
		 -o-transform: translate(-50%, -50%) rotate(-135deg);
			transform: translate(-50%, -50%) rotate(-135deg);
	-webkit-animation: drop 3s ease-in infinite;
	   -moz-animation: drop 3s ease-in infinite;
		-ms-animation: drop 3s ease-in infinite;
		 -o-animation: drop 3s ease-in infinite;
			animation: drop 3s ease-in infinite;
	-webkit-filter: blur(.2px);
	   -moz-filter: blur(.2px);
		-ms-filter: blur(.2px);
		 -o-filter: blur(.2px);
			filter: blur(.2px);
}
@keyframes drop {
  75% {
	-webkit-transform: translate(-50%, 100%) rotate(-135deg);
	   -moz-transform: translate(-50%, 100%) rotate(-135deg);
		-ms-transform: translate(-50%, 100%) rotate(-135deg);
		 -o-transform: translate(-50%, 100%) rotate(-135deg);
			transform: translate(-50%, 100%) rotate(-135deg);
	border-bottom-right-radius: 0%;
  }
  100% {
	-webkit-transform: translate(-50%, 200px) rotate(-135deg);
	   -moz-transform: translate(-50%, 200px) rotate(-135deg);
		-ms-transform: translate(-50%, 200px) rotate(-135deg);
		 -o-transform: translate(-50%, 200px) rotate(-135deg);
			transform: translate(-50%, 200px) rotate(-135deg);
	border-bottom-right-radius: 100%;
  }
}






/* 按鈕相關 *****/
/* 按鈕-動態 */
.btn_object.fan:hover div{
	opacity:1;
	-webkit-animation: img_opacity .7s ease-out;
	   -moz-animation: img_opacity .7s ease-out;
		-ms-animation: img_opacity .7s ease-out;
		 -o-animation: img_opacity .7s ease-out;
			animation: img_opacity .7s ease-out;
}
.btn_object.n95:hover img{
	-webkit-animation: img_scale .7s linear infinite;
	   -moz-animation: img_scale .7s linear infinite;
		-ms-animation: img_scale .7s linear infinite;
		 -o-animation: img_scale .7s linear infinite;
			animation: img_scale .7s linear infinite;
	-webkit-transform-origin: 50% 50%;
	   -moz-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		 -o-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
}
.btn_object.switch:active{
	-webkit-animation: img_rotate 1.6s linear infinite;
	   -moz-animation: img_rotate 1.6s linear infinite;
		-ms-animation: img_rotate 1.6s linear infinite;
		 -o-animation: img_rotate 1.6s linear infinite;
			animation: img_rotate 1.6s linear infinite;
	-webkit-transform-origin:35% 35%;
	   -moz-transform-origin:35% 35%;
		-ms-transform-origin:35% 35%;
		 -o-transform-origin:35% 35%;
			transform-origin:35% 35%;
}
@keyframes img_opacity {
	from {
		-webkit-opacity: 0;
		   -moz-opacity: 0;
			-ms-opacity: 0;
			 -o-opacity: 0;	
				opacity: 0;
	}
	100% {
		-webkit-opacity: 1;
		   -moz-opacity: 1;
			-ms-opacity: 1;
			 -o-opacity: 1;	
				opacity: 1;
	}
}
@keyframes img_scale {
	0% {
		-webkit-transform: scale(1,1);
		   -moz-transform: scale(1,1);
			-ms-transform: scale(1,1);
			 -o-transform: scale(1,1);
				transform: scale(1,1);
	}
	50% {
		-webkit-transform: scale(.85,.85);
		   -moz-transform: scale(.85,.85);
			-ms-transform: scale(.85,.85);
			 -o-transform: scale(.85,.85);
				transform: scale(.85,.85);
	}
	100% {
		-webkit-transform: scale(1,1);
		   -moz-transform: scale(1,1);
			-ms-transform: scale(1,1);
			 -o-transform: scale(1,1);
				transform: scale(1,1);
	}
}
@keyframes img_rotate {
	from {
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			 -o-transform: rotate(180deg);
				transform: rotate(180deg);
	}
}
@-webkit-keyframes img_opacity_mov{
	from {opacity:0;}
	50%  {opacity:1;}
	to   {opacity:0; }
}
@keyframes img_opacity_mov{
	from {opacity:0;}
	50%  {opacity:1;}
	to   {opacity:0; }
}
@-webkit-keyframes img_opacity_mov_end{
	from {opacity:1; }
	to   {opacity:1; }
}
@keyframes img_opacity_mov_end{
	from {opacity:1; }
	to   {opacity:1; }
}


/* 外框線 */
.by-buttom-path {
	stroke-dasharray: 7;
	-webkit-animation: move-buttom 1s infinite;
	   -moz-animation: move-buttom 1s infinite;
		-ms-animation: move-buttom 1s infinite;
		 -o-animation: move-buttom 1s infinite;
			animation: move-buttom 1s infinite;


}

.btn_object:hover .by-buttom-path{
	fill:rgba(255,255,255,1);
	stroke-dasharray: 3.5;
	-webkit-animation: move-buttom .2s infinite;
	   -moz-animation: move-buttom .2s infinite;
		-ms-animation: move-buttom .2s infinite;
		 -o-animation: move-buttom .2s infinite;
			animation: move-buttom .2s infinite;
}




@keyframes move-buttom {
	50% {
		-webkit-stroke-dashoffset: 40;
		   -moz-stroke-dashoffset: 40;
			-ms-stroke-dashoffset: 40;
			 -o-stroke-dashoffset: 40;	
				stroke-dashoffset: 40;
	}
}






/* 滑鼠與箭頭 *****/
.m_scroll_arrows {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		 -o-transform: rotate(45deg);
			transform: rotate(45deg);
}
.unu, .doi, .trei {
	-webkit-animation: mouse-scroll 1s infinite;
	   -moz-animation: mouse-scroll 1s infinite;
		-ms-animation: mouse-scroll 1s infinite;
		 -o-animation: mouse-scroll 1s infinite;
			animation: mouse-scroll 1s infinite;
}
.unu {
	-webkit-animation-delay: .1s;
	   -moz-animation-delay: .1s;
		-ms-animation-delay: .1s;
		 -o-animation-delay: .1s;
			animation-delay: .1s;
	-webkit-animation-direction: alternate;
	   -moz-animation-direction: alternate;
		-ms-animation-direction: alternate;
		 -o-animation-direction: alternate;
			animation-direction: alternate;
}
.doi {
	-webkit-animation-delay: .2s;
	   -moz-animation-delay: .2s;
		-ms-animation-delay: .2s;
		 -o-animation-delay: .2s;
			animation-delay: .2s;
	-webkit-animation-direction: alternate;
	   -moz-animation-direction: alternate;
		-ms-animation-direction: alternate;
		 -o-animation-direction: alternate;
			animation-direction: alternate;
}
.trei {
	-webkit-animation-delay: .3s;
	   -moz-animation-delay: .3s;
		-ms-animation-delay: .3s;
		 -o-animation-delay: .3s;
			animation-delay: .3s;
	-webkit-animation-direction: alternate;
	   -moz-animation-direction: alternate;
		-ms-animation-direction: alternate;
		 -o-animation-direction: alternate;
			animation-direction: alternate;
}
.wheel {
	-webkit-animation: mouse-wheel 0.6s linear infinite;
	   -moz-animation: mouse-wheel 0.6s linear infinite;
		-ms-animation: mouse-wheel 0.6s linear infinite;
		 -o-animation: mouse-wheel 0.6s linear infinite;
			animation: mouse-wheel 0.6s linear infinite;
}
@keyframes mouse-wheel {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
			-ms-transform: translateY(0);
			 -o-transform: translateY(0);
				transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(6px);
		   -moz-transform: translateY(6px);
			-ms-transform: translateY(6px);
			 -o-transform: translateY(6px);
				transform: translateY(6px);
	}
}
@keyframes mouse-wheel {
	0%   { top: 1px;}
	25%  { top: 2px;}
	50%  { top: 3px;}
	75%  { top: 2px;}
	100% { top: 1px;}
}

@keyframes mouse-scroll {
	0%   { opacity: 0; }
	50%  { opacity:.5; }
	100% { opacity: 1; }
}


/* 滑鼠與箭頭 橫式*****/
.icon-wrapper {
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		 -o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}
.mouse-icon .mouse-area:after {
	-webkit-animation: scrollAnim 1.1s infinite;
	   -moz-animation: scrollAnim 1.1s infinite;
		-ms-animation: scrollAnim 1.1s infinite;
		 -o-animation: scrollAnim 1.1s infinite;
			animation: scrollAnim 1.1s infinite;
}
.mouse-icon .arrow {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		 -o-transform: rotate(45deg);
			transform: rotate(45deg);
	-webkit-animation: arrowAnim 1.2s infinite;
	   -moz-animation: arrowAnim 1.2s infinite;
		-ms-animation: arrowAnim 1.2s infinite;
		 -o-animation: arrowAnim 1.2s infinite;
			animation: arrowAnim 1.2s infinite;
}
.mouse-icon .arrow.arrow-01 {
	-webkit-animation-delay: .2s;
	   -moz-animation-delay: .2s;
		-ms-animation-delay: .2s;
		 -o-animation-delay: .2s;
			animation-delay: .2s;
}
.mouse-icon .arrow.arrow-02 {
	-webkit-animation-delay: .3s;
	   -moz-animation-delay: .3s;
		-ms-animation-delay: .3s;
		 -o-animation-delay: .3s;
			animation-delay: .3s;
}
.mouse-icon .arrow.arrow-03 {
	-webkit-animation-delay: .4s;
	   -moz-animation-delay: .4s;
		-ms-animation-delay: .4s;
		 -o-animation-delay: .4s;
			animation-delay: .4s;
}

@-webkit-keyframes scrollAnim {
	from {top: 5px;}
	to   {top: 15px; opacity: 0; }
}
@-moz-keyframes scrollAnim {
	from {top: 5px;}
	to   {top: 15px; opacity: 0; }
}
@-ms-keyframes scrollAnim {
	from {top: 5px;}
	to   {top: 15px; opacity: 0; }
}
@-o-keyframes scrollAnim {
	from {top: 5px;}
	to   {top: 15px; opacity: 0; }
}
@keyframes scrollAnim {
	from {top: 5px;}
	to   {top: 15px; opacity: 0; }
}
@-webkit-keyframes arrowAnim {
	0%  {opacity: 0;}
	50% {opacity: 1;}
	100%{opacity: 0;}
}
@-moz-keyframes arrowAnim {
	0%  {opacity: 0;}
	50% {opacity: 1;}
	100%{opacity: 0;}
}
@-ms-keyframes arrowAnim {
	0%  {opacity: 0;}
	50% {opacity: 1;}
	100%{opacity: 0;}
}
@-o-keyframes arrowAnim {
	0%  {opacity: 0;}
	50% {opacity: 1;}
	100%{opacity: 0;}
}
@keyframes arrowAnim {
	0%  {opacity: 0;}
	50% {opacity: 1;}
	100%{opacity: 0;}
}



