*{ margin:0; padding:0;}
body, html{ height:100%; width:100%; position: relative;}
.btn_login,
.btn_skip { position:absolute; display:block; text-align:center; text-decoration:none; font-weight:600; font-family:"微軟正黑體", "新細明體";
			-webkit-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out;}
.btn_login{ z-index:5; bottom:0; left:50%; margin-left:-35px; width:70px; height:32px; line-height:32px; font-size:20px; background:rgba(0,0,0,.3); color:rgba(255,255,255,.5);}
.btn_login:hover{ background:rgba(0,0,0,.85); color:rgba(255,255,255,1);}
.btn_skip { z-index:15; right:10px; top:10px; width:100px; height:50px; line-height:50px;
			font-size:36px; color:#0CF; background:rgba(0,0,0,.5); border-radius:50px;}
.btn_skip:hover{ color:#3FF; background:rgba(0,0,0,.75);}

.mask { position:absolute; z-index:100; width:100%; height:100%; background:rgba(0,0,0,1);}
.video_bg{ position: absolute; top:50%; left:50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);}
.video_bg{ z-index:10; background:rgba(0,0,0,1); width:100%; height:100%;}
svg{ z-index:1;}
svg a{ cursor:pointer;}
svg a .animation_gif, svg a .hover_img{transition: 1s opacity;}
svg a .animation_gif, svg a:hover .hover_img { opacity: 1;}
svg a:hover .animation_gif, svg a .hover_img { opacity: 0;}

svg a text{ text-shadow:1px 1px 5px rgba(0,0,0,.65); font-size:28px; font-weight:600; font-family:"微軟正黑體", "新細明體";}