*, body, html,form{ margin:0; padding:0; box-sizing:border-box; text-decoration:none;}
body, html,form{ height:100%; width:100%; display:flex; font-family:"微軟正黑體", "新細明體"; font-size:16px; color:#555; min-height:680px; min-width:1024px;}
body{ background:#51aecf url(../img/bg_login.jpg) center bottom;background-repeat:no-repeat;}
input, select{ border:1px solid #666; background:rgba(255,255,255,0); height:36px; line-height:36px; padding:5px; font-size:15px; outline:none;}
input:hover, select:hover{ background:rgba(255,255,255,1);}
input, select, label, a, button{ -webkit-transition: all 0.25s ease-in-out;
										 transition: all 0.25s ease-in-out;}
::selection { background:rgba(0,153,153,.5); color:#fff; }

.wrapper_login{ position:relative; width:870px; height:600px; align-self:center; margin:0 auto;}
.form_close{ opacity:0; position:absolute; z-index:10; top:24px; right:72px; width:44px; height:44px; background:url(../img/icon_close.png); background-size:cover;}
.form_close:hover{ top:20px; right:68px; width:52px; height:52px;}



.form_area { opacity:0; position:absolute; z-index:5; width:100%; height:100%; padding:10% 0; display:flex; flex-direction:row; justify-content:space-between; align-items:stretch;}

.form_registered{ width:50%; padding:0 30px 0 60px; border-right:1px solid rgba(0,0,0,.2);}
.form_registered div { display:flex; flex-direction:row; justify-content:space-between; margin-bottom:16px;}
.form_registered .btn{ justify-content:center; margin-bottom:0;}
.form_registered label{ width:30%; text-align:right; padding-right:10px; line-height:36px; font-size:18px; color:#000; font-weight:600;}
.form_registered input, .form_registered select{ width:70%;}
#sex, #age{ width:20%;}

.form_login{ width:50%; padding:0 100px 0 30px; display:flex; flex-direction:column; align-items:center;}
.form_login div{ margin-bottom:6px;}
.form_login div, .form_login input, .form_login select{ width:100%;}
.form_login .user_img{ width:250px; height:178px; border-radius:20px; border:1px solid rgba(0,0,0,.5); background:rgba(255,255,255,1); overflow:auto; text-align:center; line-height:178px; margin-bottom:15px;}
.form_login .user_img img{ width:100%; height:100%;}
.form_login .btn a{ display:flex; justify-content:flex-end; font-size:13px; color:#777;}
.form_login .btn a:hover{ color:#099;}
.form_login .other_login { display:flex; flex-direction:row; justify-content:space-between; width:40%;}
.form_login .other_login a:nth-child(1){ color:#06C;}
.form_login .other_login a:nth-child(2){ color:#C30;}
.form_login .other_login a:nth-child(1):hover{ color:#039;}
.form_login .other_login a:nth-child(2):hover{ color:#900;}


button.register, button.login{ height:36px; line-height:36ppx; border:0px; font-size:18px; font-weight:600; color:#fff;}
button.register{ width:70%; 
background: #fd6411; /* Old browsers */
background: -moz-linear-gradient(top, #fd6411 0%, #f90a05 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fd6411 0%,#f90a05 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fd6411 0%,#f90a05 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd6411', endColorstr='#f90a05',GradientType=0 ); /* IE6-9 */}
button.register:hover{
background: #ef5e10; /* Old browsers */
background: -moz-linear-gradient(top, #ef5e10 0%, #d60606 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ef5e10 0%,#d60606 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ef5e10 0%,#d60606 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5e10', endColorstr='#d60606',GradientType=0 ); /* IE6-9 */}

button.login{ width:100%;
background: #127730; /* Old browsers */
background: -moz-linear-gradient(top, #127730 0%, #02611e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #127730 0%,#02611e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #127730 0%,#02611e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#127730', endColorstr='#02611e',GradientType=0 ); /* IE6-9 */}
button.login:hover{
background: #106825; /* Old browsers */
background: -moz-linear-gradient(top, #106825 1%, #025418 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #106825 1%,#025418 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #106825 1%,#025418 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#106825', endColorstr='#025418',GradientType=0 ); /* IE6-9 */}


svg{ position:absolute; z-index:1; }





/******************/
.bg_zoom{
		-webkit-animation: bg_zoom 4s 1;
		   -moz-animation: bg_zoom 4s 1;
			-ms-animation: bg_zoom 4s 1;
			 -o-animation: bg_zoom 4s 1;
				animation: bg_zoom 4s 1;
				animation-fill-mode :forwards;}
.form_area{
	-webkit-animation: white_block_show .6s linear 4.2s 1;
	   -moz-animation: white_block_show .6s linear 4.2s 1;
		-ms-animation: white_block_show .6s linear 4.2s 1;
		 -o-animation: white_block_show .6s linear 4.2s 1;
			animation: white_block_show .6s linear 4.2s 1;
			animation-fill-mode :forwards;
}
.white_block_show{
	-webkit-animation: white_block_show 1s linear 2.3s 1;
	   -moz-animation: white_block_show 1s linear 2.3s 1;
		-ms-animation: white_block_show 1s linear 2.3s 1;
		 -o-animation: white_block_show 1s linear 2.3s 1;
			animation: white_block_show 1s linear 2.3s 1;
			animation-fill-mode :forwards;
}
.white_block_01{
	-webkit-animation: white_block 1s linear 3.6s infinite;
	   -moz-animation: white_block 1s linear 3.6s infinite;
		-ms-animation: white_block 1s linear 3.6s infinite;
		 -o-animation: white_block 1s linear 3.6s infinite;
			animation: white_block 1s linear 3.6s infinite;
}
.white_block_02{
	-webkit-animation: white_block 1.5s linear 4s infinite;
	   -moz-animation: white_block 1.5s linear 4s infinite;
		-ms-animation: white_block 1.5s linear 4s infinite;
		 -o-animation: white_block 1.5s linear 4s infinite;
			animation: white_block 1.5s linear 4s infinite;
}


@keyframes bg_zoom {
	from{ background-size:200% 200%;}
	to  { background-size:100% 100%;}
}
@keyframes white_block_show {
	0%  { opacity:0;}
	100%{ opacity:1;}
}
@keyframes white_block {
	0% {
		-webkit-transform: translateY(0vh);
		   -moz-transform: translateY(0vh);
			-ms-transform: translateY(0vh);
			 -o-transform: translateY(0vh);
				transform: translateY(0vh);
	}
	50% {
		-webkit-transform: translateY(2.5vh);
		   -moz-transform: translateY(2.5vh);
			-ms-transform: translateY(2.5vh);
			 -o-transform: translateY(2.5vh);
				transform: translateY(2.5vh);
	}
	100% {
		-webkit-transform: translateY(0vh);
		   -moz-transform: translateY(0vh);
			-ms-transform: translateY(0vh);
			 -o-transform: translateY(0vh);
				transform: translateY(0vh);
	}
}
