﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <a href="apply.aspx">申請</a>        
        <a href="login.aspx">登入</a>
        <a href="logout.aspx">登出</a>
        <hr />
        <a href="Villages/Chat/index.html">聊天室</a>
        <a href="Villages/GamePollution/index.html">空汙遊戲</a>
    </div>
    </form>
</body>
</html>
