﻿<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>滾動視差_浮島_直式</title>
	<link rel="stylesheet" media="all" href="css/layout.css?r=1" />
	<link rel="stylesheet" media="all" href="css/animations.css" />
<style>

::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,.3);
}

::-webkit-scrollbar-track {
  background:#666;
}
#mask{
    width:calc(100%);
    height:calc(100%);
    position:absolute;
    left:0px;
    top:0px;
    background-color:#000;
    z-index:9999999999;
    
}
</style>
</head>
<div id="mask">
    <img src="img/ajax-loader1.gif" style="margin:0px auto;margin-top:300px;" />
</div>
<body data-0="background-image:linear-gradient(90deg, rgb(24, 0, 45), rgb(24, 0, 45));"
    data-500="background-image:linear-gradient(90deg, rgb(24, 0, 45), rgb(24, 0, 45));"
   data-1500="background-image:linear-gradient(90deg, rgb(0, 56, 96), rgb(24, 0, 45));"
   data-2500="background-image:linear-gradient(90deg, rgb(151, 216, 162), rgb(0, 56, 96));"
   data-3500="background-image:linear-gradient(90deg, rgb(162, 215, 212), rgb(151, 216, 162));"
   data-4500="background-image:linear-gradient(90deg, rgb(255, 255, 255), rgb(162, 215, 212));">

<div class="user_box">
	您好
	<ul>
		<li style="display:none;"></li>
        <li style="display:none;"></li>
        <li style="display:none;"></li>
	</ul>
</div>

<div class="mouse_scroll" data-400="right:10%;opacity:1" data-500="right:10%;opacity:0">
	<div class="mouse">
		<div class="wheel"></div>
	</div>
	<div>
		<span class="m_scroll_arrows unu"></span>
		<span class="m_scroll_arrows doi"></span>
	</div>
</div>

<div class="island_all">

	<div class="btn_CC">
		<!-- Fan -->
		<div class="btn_object fan audio_fan" style="top:60px; left:230px;">
			<img src="img/btn/fan.png">
			<div>
				<img src="img/btn/fan_mov.gif">
			</div>
			<svg version="1.1" width="120px" height="145px" viewBox="0 0 120 145">
			<path class="by-buttom-path" fill="#FFFFFF" stroke="#DED12E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
				M117.5,62.191C117.5,29.777,91.758,3.5,60,3.5C28.245,3.5,2.5,29.777,2.5,62.191c0,23.724,13.8,44.146,33.645,53.399l-5.678,25.91
				h57l-5.84-24.927C102.662,107.849,117.5,86.795,117.5,62.191z"/>
			</svg>
			<span></span>
		</div>
		<!-- N95 -->
		<div class="btn_object n95 audio_n95" style="top:90px; left:90px;">
			<p>+1</p>
			<img src="img/btn/n95.png">
			<svg version="1.1" width="120px" height="110px" viewBox="0 0 120 110"><!-- width="110px" height="96px" -->
			<path class="by-buttom-path" fill="#FFFFFF" stroke="#DED12E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
				M43.524,9.22c0,0-27.99,19.198-27.99,19.207c0,0.009-13.565,5.475-9.909,20.711l3.989,23.911L7.62,78.22l3.658,8.244h8.643
				c0,0,35.571,36.3,77.459,1.335c0,0,5.607-7.098,5.507-13.204l8.693-0.331L115,61.952l-7.979-3.862l-3.454-17.479l8.014-5.216
				l-6.555-10.751L98.378,29.4c0,0-7.313-8.879-21.608-13.164C76.77,16.236,67.461,1.544,43.524,9.22z"/>
			</svg>
			<span></span>
		</div>
	</div>
	<div class="btn_DD">
		<img src="img/btn/leak.gif" width="120" height="120" style="margin:60px 0 0 90px;"/>
		<div class="btn_object switch audio_oilvalve" style="top:-120px; left:250px;">
			<p>+1</p>
			<img src="img/btn/btn_switch.png">
			<svg version="1.1" width="55px" height="55px" viewBox="0 0 55 55"><!-- width="50px" height="45px" -->
			<path class="by-buttom-path" fill="#FFFFFF" stroke="#F5E8B5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
				M51.961,25.215L41.691,7.275C40.971,6.022,39.201,5,37.764,5H17.236c-1.439,0-3.207,1.022-3.929,2.275L3.037,25.215
				c-0.715,1.252-0.715,3.311,0,4.572l10.271,17.924C14.029,48.975,15.797,50,17.236,50h20.528c1.438,0,3.207-1.025,3.928-2.289
				l10.27-17.924C52.679,28.525,52.679,26.467,51.961,25.215"/>
			</svg>
			<span></span>
		</div>
	</div>
	<div class="btn_EE">
		<!-- Umbrella -->
		<div class="btn_object_umb audio_unbrella" style=" margin:80px 0 0 200px;">
			<div class="btn_object umbrella">
				<img src="img/btn/umbrella.png">
				<svg version="1.1" width="65px" height="135px" viewBox="0 0 65 135"><!-- width="58px" height="128px" -->
				<path class="by-buttom-path" fill="#FFFFFF" stroke="#DED12E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M61.463,108.394c0.011,0.002,0.026,0.002,0.037,0.002C59.916,46.523,50.259,17.619,38.191,9.42V3.5H25.804v6.736
					C14.165,19.726,5.748,45.947,3.5,108.396h21.97V131.5H39.53v-23.104L61.463,108.394z"/>
				</svg>
				<span></span>
			</div>
			<div class="btn_object umbrella_open">
				<img src="img/btn/umbrella_mov_00.png" />
				<img src="img/btn/umbrella_mov_01.png" />
				<img src="img/btn/umbrella_mov_03.png" />
				<img src="img/btn/umbrella_mov_04.png" />
				<img src="img/btn/umbrella_mov_04.png" />
				<svg version="1.1" width="160px" height="135px" viewBox="0 0 160 135"><!-- width="152px" height="128px" -->
				<path class="by-buttom-path" fill="#FFFFFF" stroke="#D5CA37" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M155.964,62.033c0.01,0.002,0.025,0,0.037,0c0-41.333-48.994-53-70.723-53.613V3.5H72.935v4.92
					C58.179,9.033,2.375,19.7,4.036,62.033h68.565V131.5h14.011V62.033H155.964z"/>
				</svg>
				<span></span>
			</div>
		</div>
		<!-- Seed -->
		<div class="btn_object_seed audio_tree" style=" margin:-215px 0 0 100px;">
			<p>+1</p>
			<div class="btn_object seed">
				<img src="img/btn/seed.png">
				<svg version="1.1" width="40px" height="45px" viewBox="0 0 40 45">
				<path class="by-buttom-path" fill="#FFFFFF" stroke="#DED12E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
					M17.656,2.5c0,0-14.244,9.705-13.637,28.031c0,0,0.088,12.799,21.176,11.927C25.195,42.458,53.942,30.901,17.656,2.5z"/>
				</svg>
				<span></span>
			</div>
			<div class="btn_object seed_grow">
				<img src="img/btn/new/tree_mov_00.png" />
				<img src="img/btn/new/tree_mov_01.png" />
				<img src="img/btn/new/tree_mov_02.png" />
				<img src="img/btn/new/tree_mov_03.png" />
				<img src="img/btn/new/tree_mov_04.png" />
				<img src="img/btn/new/tree_mov_05.png" />
				<img src="img/btn/new/tree_mov_06.png" />
				<span></span>
			</div>
		</div>
    </div>
	<div class="btn_FF" style="display:none;">
		<img src="img/btn/tree.png" width="180" height="200" style="margin:0 0 0 90px;"/>
	</div>


	<canvas id="popo_js"></canvas>


	<div class="island_wrap">
		<div class="island_green">

			<div class="pipeline">
				<div>
					<div class="pipeline01"></div>
					<div class="pipeline02"></div>
				</div>
			</div>
			<div class="stone">
				<div>
					<div class="stone_green01"></div>
					<div class="stone_green02"></div>
					<div class="stone_green03"></div>
				</div>
			</div>
			<div class="dripping">
				<div class="toggle-btn"></div>
				<div class="drop"></div>
			</div>

		</div>
	</div><!-- island_wrap -->


</div><!-- island_all -->





<div id="wrapper">


	<nav id="primary">
		<ul>
			<li>
				<h1>Area_A</h1>
				<a class="area_A" href="#area_A">View</a>
			</li>
			<li>
				<h1>Area_B</h1>
				<a class="area_B" href="#area_B">View</a>
			</li>
			<li>
				<h1>任務一 Area_C</h1>
				<a class="area_C" href="#area_C">View</a>
			</li>
			<li>
				<h1>任務二 Area_D</h1>
				<a class="area_D" href="#area_D">View</a>
			</li>
			<li>
				<h1>任務三 Area_E</h1>
				<a class="area_E" href="#area_E">View</a>
			</li>
      			<li>
				<h1>進入</h1>
				<a class="area_F" href="#area_F">View</a>
			</li>      
		</ul>
	</nav>

	
	<div id="content">
		<article id="area_A" class="area_AA"></article>
		<article id="area_B" class="area_BB"></article>
		<article id="area_C" class="area_CC"></article>
		<article id="area_D" class="area_DD"></article>
		<article id="area_E" class="area_EE"></article>
		<article id="area_F" class="area_FF"></article>
	</div>



	<div id="parallax-bg3">
		<div class="move_verticalA satellite" data-400="top:1000px; right:20%;" data-800="top:200px; right:-10%;"></div>
		<div class="object_rotateB astronaut_2" data-1000="top:1700px;" data-2000="top:200px;"></div>
		<div class="move_verticalA cloud_big_1" data-2500="top:3900px;" data-3500="top:1500px;"></div>
		<div class="move_verticalA cloud_big_2" data-3600="top:5500px;" data-3800="top:5000px;"></div>
		<div class="move_verticalB cloud_medium_l2" data-2000="top:3900px;" data-3000="top:3000px;"></div>
		<div class="move_verticalB cloud_medium_l2" data-2000="top:4600px;" data-3000="top:2700px;"></div>
		<div class="move_verticalB cloud_medium_r1" data-2800="top:4500px;" data-3500="top:2500px;"></div>
		<div class="move_verticalC cloud_small" data-2800="top:4550px;" data-3500="top:3000px;"></div>
	</div>
			

	<div id="parallax-bg2">
		<div class="move_verticalB space_shuttle" data-800="top:800px;" data-1500="top:-200px;"></div>
		<div class="move_verticalA astronaut_1" data-400="top:600px;" data-800="top:-200px;"></div>
		<div class="move_oblique rocket" data-800="top:2400px; left:30%;" data-2400="top:500px; left:-50%;">
			<div>
				<div class="fire01"></div>
				<div class="fire02"></div>
			</div>
		</div>
		<div class="move_verticalA cloud_medium_l1" data-2000="top:4200px;" data-3000="top:2400px;"></div>
		<div class="move_verticalB cloud_medium_r1" data-2000="top:4000px;" data-3500="top:2500px;"></div>
		<div class="move_verticalC cloud_small" data-3600="top:5130px;" data-4800="top:4500px;"></div>
		<div class="move_verticalA cloud_big_2" data-2100="top:4800px; left:10%;" data-3200="top:2500px; left:10%;"></div>
		<div class="move_verticalA cloud_medium_l1" data-4000="top:5200px;" data-5000="top:4400px;"></div>
		<div class="move_verticalA cloud_big_2" data-4100="top:5300px; left:10%;" data-4700="top:4500px; left:10%;"></div>
		<div class="move_verticalC aircraft_right_1" data-1800="top:3750px; right:6%;" data-3600="top:2000px; right:50%;"></div>
		<div class="move_verticalA aircraft_right_2" data-4000="top:6000px;" data-5000="top:4700px;"></div>
		<div class="move_verticalC parachute_red_2" data-4000="top:5700px;" data-4500="top:5500px;"></div>
	</div>
			

	<div id="parallax-bg1">
		<div class="object_rotate planet_red" data-0="top: -200px;" data-700="top:-800px;"></div>
		<div class="move_verticalA planet_gray" data-400="top:950px; right:5%" data-800="top:-300px; right:0%"></div>
		<div class="move_radian planet_ring" data-600="top:1200px; left:12%;" data-1200="top:-100px; left:-20%;"></div>
		<div class="move_verticalB cloud_medium_r2" data-3000="top:5200px;" data-4000="top:4000px;"></div>
		<div class="move_verticalA parachute_red_1" data-3000="top:4100px;" data-3400="top:3700px;"></div>
		<div class="move_verticalC aircraft_left" data-2600="top:3500px;" data-2900="top:3700px;"></div>
		<div class="move_verticalB cloud_medium_l2" data-2800="top:4730px;" data-4000="top:4000px;"></div>
		<div class="move_verticalA hotballoon_blue" data-3000="top:4800px;" data-3600="top:4000px;"></div>
		<div class="move_verticalC hotballoon_red" data-4000="top:5600px;" data-5600="top:5000px;"></div>
		<div class="move_verticalB parachute_blue" data-4500="top:5600px;" data-5600="top:4000px;"></div>
		<div class="move_verticalC parachute_yellow" data-4500="top:6000px;" data-5600="top:5000px;"></div>
	</div>


	<canvas id="space"></canvas>


	<div class="meteors">
		<div class="meteor"></div>
		<div class="meteor"></div>
		<div class="meteor"></div>
		<div class="meteor"></div>
		<div class="meteor"></div>
		<div class="meteor"></div>
		<div class="meteor"></div>
		<div class="meteor"></div>
		<div class="meteor"></div>
	</div>


	<div class="fog_wrap" data-500="top:500px;" data-1700="top:1700px;">
		<div id="fog"></div>
	</div><!--data-1900="top:1900px;" data-2400="top:2400px;-->


    
	<div class="move_verticalC cloud_orange_2" data-4000="top:4380px; opacity:0" data-4300="top:4380px; opacity:.75" data-5000="top:4380px; opacity:.75" data-5400="top:4380px; opacity:0"></div>
	<div class="move_verticalC cloud_orange_3" data-4000="top:4430px; opacity:0" data-4300="top:4430px; opacity:1" data-5000="top:4430px; opacity:1" data-5200="top:4430px; opacity:0"></div>
	<div class="move_verticalB cloud_orange_1" data-4000="top:4390px; opacity:0" data-4300="top:4390px; opacity:1" data-5000="top:4390px; opacity:1" data-5200="top:4390px; opacity:0"></div>
    	<div class="splat-toggle">
		<div class="rain" data-4200="top:4600px; opacity:0" data-4300="top:4600px; opacity:1" data-4400="top:4600px; opacity:0"></div><!-- 44,46 -->
	</div>


	<div class="nebula-container">
		<div class="nebula nebula-1" data-0="top: 0px;" data-700="top:-200px;"></div>
		<div class="nebula nebula-4" data-0="top: 900px;" data-700="top:500px;"></div>
	</div>


</div><!-- wrapper -->





<div id="footer" data-500-end="opacity:0;" data-end="opacity:1;">
	<div class="img"></div>
</div>


<div class="mouse_scroll" data-500-end="opacity:0;" data-end="opacity:1;">
	<div class="btn_arrow">
		<a href="test_index_h.html">
			<span class="m_scroll_arrows unu"></span>
			<span class="m_scroll_arrows doi"></span>
			<span class="m_scroll_arrows trei"></span>
			<p>Enter</p>
		</a>
	</div>
</div>


<audio controls preload="auto" id="sound-n95">
	<source src="audio/n95.mp3" controls></source>
</audio>
<audio controls preload="auto" id="sound-fan">
	<source src="audio/fan.mp3" controls></source>
</audio>
<audio controls preload="auto" id="sound-oilvalve">
	<source src="audio/oil valve.mp3" controls></source>
</audio>
<audio controls preload="auto" id="sound-tree">
	<source src="audio/tree growing03.mp3" controls></source>
</audio>
<audio controls preload="auto" id="sound-unbrella">
	<source src="audio/unbrella.mp3" controls></source>
</audio>

<audio autoplay loop><source src="audio/bgm_before.mp3"></audio>


<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="15" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" /><!-- 18 -7 改 33 -6 -->
      <feBlend in="SourceGraphic" in2="goo" />
  	</filter>
  </defs>
</svg>





	<script src='js/jquery.min.js'></script>
	<script src="js/skrollr.min.js"></script>
	<script type="text/javascript">
	    skrollr.init();
	</script>
	<script src="js/parallax.js?r=2"></script>
    <script src="js/bgStar.js"></script>
	<script src="js/sprite-animation-popo.js"></script>
	<script src="js/fog.js?r=2"></script>
	<script src="js/rain_box.js"></script>


	<script>
	    $(document).ready(init)
	    function init() {
	        $(".n95").click(AnimateHandlerN95);
	        $(".switch").click(AnimateHandlerSwitch);
	        $(".btn_object_seed").click(AnimateHandlerSeed);
	    }
	    function AnimateHandlerN95() {
	        $(".n95 p").animate({ opacity: 1, top: "-50px" }, 300).animate({ opacity: 0, top: "-100px" }, 200).animate({ opacity: 0, top: "0px" }, 0);
	    }
	    function AnimateHandlerSwitch() {
	        $(".switch p").animate({ opacity: 1, top: "-50px" }, 300).animate({ opacity: 0, top: "-100px" }, 200).animate({ opacity: 0, top: "0px" }, 0);
	        $(".dripping").fadeOut(300);
	    }
	    function AnimateHandlerSeed() {
	        $(".btn_object_seed p").animate({ opacity: 1, marginTop: "50px" }, 300).animate({ opacity: 0, marginTop: "0px" }, 200).animate({ opacity: 0, marginTop: "100px" }, 0);
	    }


	    $(".audio_n95").mouseover(function () {
	        $("#sound-n95")[0].play();
	    });
	    $(".audio_n95").mouseout(function () {
	        $("#sound-n95")[0].pause();
	    });

	    $(".audio_fan").mouseover(function () {
	        $("#sound-fan")[0].play();
	    });
	    $(".audio_fan").mouseout(function () {
	        $("#sound-fan")[0].pause();
	    });

	    $(".audio_oilvalve").click(function () {
	        $("#sound-oilvalve")[0].play();
	    });

	    $(".audio_tree").mouseover(function () {
	        $("#sound-tree")[0].play();
	    });
	    $(".audio_tree").mouseout(function () {
	        $("#sound-tree")[0].pause();
	    });

	    $(".audio_unbrella").mouseover(function () {
	        $("#sound-unbrella")[0].play();
	    });
	    $(".audio_unbrella").mouseout(function () {
	        $("#sound-unbrella")[0].pause();
	    });

	</script>



</body>
</html>
<!--MMJS-->
<script src="js/MMJS/notify.js"></script>
<script src="js/MMJS/cookie.js"></script>
<script src="js/MMJS/notify.js"></script>
<style>
.notifyjs-bootstrap-base {
    padding: 8px 20px 8px 14px;
}
.notifyjs-bootstrap-base {
    padding: 13px 20px 13px 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    white-space: nowrap;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: 3px 7px;
    color: #fff;
    border:0px solid #fff;
    font-size:16px;
    background: -moz-linear-gradient(#10598d,#0b0606);
    background: -webkit-linear-gradient(#10598d,#0b0606);
    background: -o-linear-gradient(#10598d,#0b0606);
    background: -moz-linear-gradient(#10598d,#0b0606);
    background: linear-gradient(#10598d,#0b0606);
}
.notifyjs-bootstrap-base1 {
    padding: 13px 20px 13px 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    white-space: nowrap;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: 3px 7px;
    color: #383838;
    border: 0px solid #fff;
    font-size: 16px;
    background: -moz-linear-gradient(#ffffff,#b9e3d1);
    background: -webkit-linear-gradient(#ffffff,#b9e3d1);
    background: -o-linear-gradient(#ffffff,#b9e3d1);
    background: -moz-linear-gradient(#ffffff,#b9e3d1);
    background: linear-gradient(#ffffff,#b9e3d1);
}
</style>
<!--main-->
<script src="test_index.js?r=12"></script>
