﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Villages_Home_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>聊天室</title>
    <link href="css/layout_talk.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:900" rel="stylesheet">
</head>
<body>

    <div class="wrapper">
        <a href="#"><img class="logo" src="img/logo_login.png"></a>
        <a class="icon_button btn_close" href="#"></a>
        <a class="icon_button btn_back" href="#"></a>
        <section class="info_area">
            <span>高雄市 <span id="temperature"></span></span>
            <span>降雨率 <span id="rain-percent"></span></span>
            <span>紫外線 <span id="ultraviolet"></span></span>
            <span>空氣品質 <span id="aqi"></span></span>
        </section>
        <a href="#" class="icon_talkboxclose"></a>
        <a href="#" class="icon_talkboxopen"></a>

        <div id="talk-template" style="display:none">

            <li id="{sn}">
                <img src="{picurl}">
                <div>
                    <p>{name}</p>
                    <p class="text_main">{content}</p>
                </div>
            </li>
        </div>
        <section class="talk_area">
            <article class="talk_box">
                <div class="talk_message">
                    <ul id="talk_box"></ul>
                </div>
                <div class="talk_bottom">
                    <div class="talk_input">
                        <textarea id="chat-text" placeholder="請輸入訊息..."></textarea>
                        <button onclick="Chatbox.send();">ENTER</button>
                    </div>
                    <div class="talk_set">
                        <ul>
                            <li class="icon_set"><a href="#"><span></span></a></li>
                            <li class="icon_status"><a href="#"><span></span></a></li>
                            <li class="icon_sticker"><a href="#"><span></span></a></li>
                        </ul>
                        <div class="box_set">
                            <a class="icon_close" href="#"></a>
                            <h4>設定</h4>
                            <div class="form-group color-child">
                                <label for="">顏色</label>
                                <input style="display:none;" type="text"
                                       id="box-light"
                                       name="box-light" data-palette='["#D50000","#304FFE","#00B8D4","#00C853","#FFD600","#FF6D00","#FF1744","#3D5AFE","#00E5FF","#00E676","#FFEA00","#FF9100","#FF5252","#536DFE","#18FFFF","#69F0AE","#FFFF00","#FFAB40","#404040"]' value="#404040" style="margin-right:48px;">

                            </div>
                            <div class="form-group">
                                <label for="">字型</label>
                                <select id="slt-fontfamily">
                                    <option value="Microsoft JhengHei">微軟正黑體</option>
                                    <option value="PMingLiU">新細明體</option>
                                    <option value="DFKai-sb">標楷體</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">大小</label>
                                <select id="slt-size">
                                    <option value="8">8pt</option>
                                    <option value="10">10pt</option>
                                    <option value="12" selected>12pt</option>
                                    <option value="14">14pt</option>
                                    <option value="16">16pt</option>
                                    <option value="18">18pt</option>
                                    <option value="20">20pt</option>
                                    <option value="22">22pt</option>
                                    <option value="24">24pt</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">特效</label>
                                <select id="slt-chatbox-ani">
                                    <option value="" selected>無特效</option>
                                    <option value="marquee">跑馬燈</option>
                                    <option value="typing">打字機</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">對話框時間保留</label>
                                <select id="slt-livetime">
                                    <option value="1" selected>一分鐘</option>
                                    <option value="5">五分鐘</option>
                                    <option value="10">十分鐘</option>
                                    <option value="15">十五分鐘</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">背景地圖快選</label>
                                <select id="">
                                    <option>回棲居(高雄X區)</option>
                                    <option>岡山</option>
                                    <option>左營(北區)</option>
                                    <option>前鎮(港區)</option>
                                    <option>鳳山(南區)</option>
                                    <option>旗山</option>
                                    <option>桃源(東區)</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">地圖遮蔽</label>
                                <select id="">
                                    <option>所有訊息</option>
                                    <option>特效</option>
                                    <option>棲居</option>
                                </select>
                            </div>
                        </div>
                        <div class="box_status">
                            <a class="icon_close" href="#"></a>
                            <h4>棲居</h4>
                            <div class="form-group color-child">
                                <label for="">燈光</label>
                                <input style="display:none;" type="text"
                                       id="me-light"
                                       name="me-light" data-palette='["#D50000","#304FFE","#00B8D4","#00C853","#FFD600","#FF6D00","#FF1744","#3D5AFE","#00E5FF","#00E676","#FFEA00","#FF9100","#FF5252","#536DFE","#18FFFF","#69F0AE","#FFFF00","#FFAB40"]' value="" style="margin-right:48px;">

                            </div>
                            <div class="form-group">
                                <label for="">上線狀態</label>
                                <select id="stl-me-status" onchange="Me.set_style()">
                                    <option value="1">在家</option>
                                    <option value="0">不在</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">棲居特效</label>
                                <select id="slt-effects" onchange="Me.set_style();">
                                    <option value="">無特效</option>
                                    <option value="flower">灑花</option>
                                    <option value="fire">煙火</option>
                                </select>
                            </div>
                        </div>
                        <div class="box_sticker" id="tab-demo">
                            <a class="icon_close" href="#"></a>
                            <h4>貼圖</h4>
                            <ul class="tab-title">
                                <li><a href="#tab01">空氣精靈</a></li>
                                <li><a href="#tab02">倪祥圖</a></li>
                                <li><a href="#tab03">其他1</a></li>
                                <li><a href="#tab04">其他2</a></li>
                            </ul>
                            <div id="tab01" class="tab-inner">
                                <a href="#" value="1"><img src="uploadfile/face/1.png"></a>
                                <a href="#" value="2"><img src="uploadfile/face/2.png"></a>
                                <a href="#" value="3"><img src="uploadfile/face/3.png"></a>
                                <a href="#" value="4"><img src="uploadfile/face/4.png"></a>
                                <a href="#" value="5"><img src="uploadfile/face/5.png"></a>
                                <a href="#" value="6"><img src="uploadfile/face/6.png"></a>
                            </div>
                            <div id="tab02" class="tab-inner">
                                <a href="#"><img src="img/talk/pic_01.png"></a>
                                <a href="#"><img src="img/talk/pic_02.png"></a>
                                <a href="#"><img src="img/talk/pic_04.png"></a>
                                <a href="#"><img src="img/talk/pic_01.png"></a>
                                <a href="#"><img src="img/talk/pic_02.png"></a>
                                <a href="#"><img src="img/talk/pic_03.png"></a>
                                <a href="#"><img src="img/talk/pic_04.png"></a>
                                <a href="#"><img src="img/talk/pic_04.png"></a>
                                <a href="#"><img src="img/talk/pic_01.png"></a>
                                <a href="#"><img src="img/talk/pic_02.png"></a>
                                <a href="#"><img src="img/talk/pic_03.png"></a>
                            </div>
                            <div id="tab03" class="tab-inner">
                                <a href="#"><img src="img/talk/pic_01.png"></a>
                                <a href="#"><img src="img/talk/pic_02.png"></a>
                                <a href="#"><img src="img/talk/pic_03.png"></a>
                                <a href="#"><img src="img/talk/pic_04.png"></a>
                                <a href="#"><img src="img/talk/pic_01.png"></a>
                            </div>
                            <div id="tab04" class="tab-inner">
                                <a href="#"><img src="img/talk/pic_01.png"></a>
                                <a href="#"><img src="img/talk/pic_02.png"></a>
                                <a href="#"><img src="img/talk/pic_03.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section class="menu_area">
            <nav>
                <ul>
                    <li><a href="#">市民議會</a></li>
                    <li><a href="../Creation/creution.html">譜普市工廠</a></li>
                    <li><a href="../gamemenu.html">遊戲</a></li>
                    <li><a href="../Museum/index.html">博物館島</a></li>
                    <li><a href="../Citizen/index.html">市民專區</a></li>
                </ul>
            </nav>
            <div class="menu_set">
                <a href="#">團隊介紹</a>
                <a href="#">FB</a>
                <a href="#">IG</a>
                <div><input type="range" min="0" max="100" step="1" value="50">音樂</div>
                <div><input type="range" min="0" max="100" step="1" value="50">音效</div>
                <a href="../../Login.aspx">登入</a>
            </div>
            <a href="#" class="menu"></a>
            <a href="../../Default.aspx?mode=dashboard" class="home">首頁</a>
        </section>
        <div class="map-expand" id="map"></div>
    </div>




    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/jquery_talk.js"></script>
    <form id="form1" runat="server">

    </form>
</body>
</html>



<!--moment.js-->
<script src="js/moment.js"></script>
<!--color palette-->
<link href="js/palette/palette-color-picker.css" rel="stylesheet" />
<script src="js/palette/palette-color-picker.js"></script>
<!--MMJS-->
<script src="js/MMJS/base.js"></script>
<script src="js/MMJS/utility.js"></script>
<script src="js/MMJS/mask.js"></script>
<script src="js/MMJS/lightbox.js"></script>
<style>
    .ja_body {
        padding: 10px;
        color: #ffffff;
        text-align: center;
        background: -webkit-linear-gradient(left,#356330,#103710);
        background: -o-linear-gradient(right,#356330,#103710);
        background: -moz-linear-gradient(right,#356330,#103710);
        background: linear-gradient(to right,#356330,#103710);
    }

    .ja_btn_wrap.optBack {
        display: none;
    }

    a:link {
        color: orange;
    }

    a:visited {
        color: orange;
    }

    a:hover {
        color: orange;
    }

    a:active {
        color: orange;
    }
</style>
<!--google map-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsLF2G1IYUu4H6U14yreLrA5AOxnaKEYI&callback=initMap"
        async defer></script>
<!--main-->
<script src="tools.js"></script>
<script src="googlemap.js"></script>
<script src="index.js"></script>

<style>
    /*打字特效*/
    @keyframes typing {
        from {
            width: 0;
        }
    }

    @keyframes caret {
        50% {
            border-color: transparent;
        }
    }

    .typing {
        width: 15em;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 2s steps(15), caret 1s steps(1) infinite;
    }
</style>