﻿html,body{
    height:100%;
}
#camera {
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    z-index: 9999;
    /*
            background-color: rgba(100, 100, 100, 0.7);
            */
    background-image: url("imgs/20_shoot_01.png");
    background-repeat: no-repeat;
    background-position: center;
}

img.takeshot {
    position: absolute;
    left: 44%;
    top: 42%;
    width: 160px;
}

#show-photo-name {
    position: absolute;
    left: 44%;
    top: 62%;
    width: 160px;
    font-size:26px;
    font-weight:bold;
}
#mask-loading {
    position: absolute;
    left: auto;
    top: auto;
    padding-top:10%;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background-color: #f3f3f3b8;
}