/*** Basis ***/
* { margin:0; padding:0; box-sizing:border-box; list-style:none; text-decoration:none; outline:none; }
body, html { height:100%; width:100%; overflow:hidden;}
body { background:rgba(0,0,0,.5); /*display:flex; justify-content:center;*/
		font-family:"微軟正黑體", "新細明體"; font-size:16px; line-height:1.6; color:#fff;  }
li, input, select, label, button, .tab-inner a, .tab-inner a{ -webkit-transition: all 0.25s ease-in-out;
							transition: all 0.25s ease-in-out;}
:before,:after{ }
::selection  { background:#7eb18f; color:#fff; }
::placeholder{ color:rgba(255,255,255,.65);}

/* scrollbar */
::-webkit-scrollbar
 { width:5px; height:5px; background-color:rgba(0,0,0,0);}
::-webkit-scrollbar-track
{ border-radius:10px; background-color:rgba(0,0,0,.1); -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,.2);}
::-webkit-scrollbar-thumb
{ border-radius:10px; border:1px solid rgba(0,0,0,.5); background-color:rgba(255,255,255,.5);
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3); }




/*** Basis Layout ***/
.wrapper{ position:relative; width:100%; height:100%; min-width:1200px; min-height:714px; background:rgba(0,0,0,.5); }
.info_area{ position:absolute; z-index:2; right:100px; top:20px;}
.info_area span{ padding-right:20px; }


.icon_talkboxclose{ position:absolute; z-index:5; top:120px; left:345px; width:30px; height:48px; background:url(../img/talk/img_talk_area_01.png);}
.icon_talkboxopen { display:none; position:absolute; z-index:5; top:120px; left:0px; width:110px; height:48px; background:url(../img/talk/img_talk_area_02.png); }
.talk_area{ position:absolute; z-index:3; bottom:0; left:0; width:360px; height:calc(100% - 90px); }
	.talk_box, .talk_box:before{ width:100%; height:100%;}
	.talk_box{ position:relative; padding:12px;}
	.talk_box:before{ opacity:.85; filter:blur(7px); -webkit-filter:blur(7px); }

		.talk_message{ position:relative; width:100%; height:calc(100% - 130px); overflow-y:scroll;}
		.talk_message ul li{ display:flex; padding:7px 0; }
		.talk_message ul li img{ width:46px; height:46px; margin-right:10px; border-radius:50%; overflow:hidden; box-shadow:2px 2px 8px rgba(0,0,0,.4);}
		.talk_message ul li div{ width:calc(100% - 56px); font-size:14px; line-height:1.35;}
		.talk_message ul li div p:nth-child(1){ font-size:16px; line-height:1.7; text-shadow:2px 2px 8px rgba(0,0,0,.4);}
		.talk_message ul li div p:nth-child(2){ max-height:38px; overflow:hidden; text-overflow:ellipsis; }/*white-space:nowrap;*/



		.talk_bottom, .talk_bottom:before{ width:100%; height:130px;}
		.talk_bottom { position:relative; padding:6px; display:flex; justify-content:space-between;}
		.talk_bottom:before{ opacity:.65;
				filter:blur(5px) contrast(2); -webkit-filter:blur(5px) contrast(2);}

			.talk_input{ width:calc(100% - 70px); text-align:right; }
				textarea{ width:100%; height:85px; padding:10px; color:rgba(255,255,255,.95); background-color:rgba(0,0,0,0); border:none;
							font-size:16px; line-height:1.6; text-shadow:0 0 2px rgba(0,0,0,.5); }
				button  { padding:3px 10px; background-color:rgba(0,120,190,.65); color:rgba(255,255,255,.5); box-shadow:0 0 10px rgba(0,120,190,1); border:none; cursor:pointer;}
				button:hover{ background-color:rgba(120,180,230,.65); color:rgba(255,255,255,1); box-shadow:0 0 10px rgba(120,180,230,1); }

			.talk_set, .talk_set:before{ width:60px; height:100%;}
			.talk_set{ position:relative;}
			.talk_set:before{opacity:.65;
				filter:blur(4px) brightness(.2); -webkit-filter:blur(4px) brightness(.2);}
				.talk_set>ul{ width:100%; height:100%; display:flex; flex-direction:column; justify-content:center; align-items:center;}
				.talk_set>ul>li{ width:80%; height:80%; display:flex; justify-content:center; align-items:center; cursor:pointer;}
				.talk_set>ul>li span { display:block; width:26px; height:26px; filter:brightness(1); -webkit-filter:brightness(1);}
				.talk_set>ul>li:hover, .talk_set>ul>li.active{ background-color:rgba(0,0,50, 0.65); box-shadow:0 0 8px rgba(0,0,50,1);}
				.talk_set>ul>li:hover span, .talk_set>ul>li.active span{ filter:brightness(.8); -webkit-filter:brightness(.8);}
					.icon_set span{ background:url(../img/talk/icon_set.png); }
					.icon_status span { background:url(../img/talk/icon_status.png); }
					.icon_sticker span{ background:url(../img/talk/icon_sticker.png);}

				.box_set, .box_status, .box_sticker{ display:none; position:absolute; width:360px; padding:10px 20px; background-color:rgba(5,45,130,.65); box-shadow:0 0 20px rgba(5,45,130,1),0 0 20px rgba(5,45,130,.5);}
				.box_set{ left:80px; bottom:80px;}
				.box_status { left:80px; bottom:40px;}
				.box_sticker{ left:80px; bottom:0px; }
					h4{ font-size:22px;}
					.icon_close{ position:absolute; right:5px; width:36px; height:36px; background:url(../img/talk/icon_close.png) center center no-repeat;}
					.form-group{ font-size:17px; padding:4px 0 4px 22px;}
					.form-group.color-child{ display:flex; }
					.color_choose{ width:24px; height:24px; margin:0 5px; background:white; border:1px solid rgba(0,0,0,.5); cursor:pointer;}
					label { padding:0 10px 0 0;}
					select{ background:rgba(0,0,0,0); color:rgba(255,255,255,1); padding:5px 10px; min-width:120px; height:34px; border-radius:17px;}
					option{ background:rgba(5,45,130,1); color:rgba(255,255,255,1); }

					#tab-demo > ul > li  { display:inline-block; line-height:28px; padding:0 10px;}
					#tab-demo > ul > li a{ color:rgba(255,255,255,.65); }
					#tab-demo > ul > li.active{ color:rgba(255,255,255,.65); background-color:rgba(0,0,50,.35);}
					.tab-inner{ height:163px; overflow-y:scroll; background:rgba(0,0,50,.35); padding:10px;}
					.tab-inner a{ display:inline-block; width:70px; height:70px; border-radius:20px;}
					.tab-inner a:hover{ background:rgba(0,0,0,.3);}
					.tab-inner a img  { width:65px; height:65px; padding:5px;}

		.talk_box:before, .talk_bottom:before, .talk_set:before{
			 position:absolute; z-index:-1; content:''; top:0; left:0;
			 background:linear-gradient(90deg, rgba(20,80,120,.45), rgba(0,94,116,.8), rgba(0,60,125,1));}



.menu_area{ position:absolute; z-index:2; bottom:0; right:0; display:flex; justify-content:flex-end; align-items:flex-end; width:806px; height:48px;}
	nav ul{ display:flex; justify-content:space-between; height:48px;}
	nav ul li a{ position:relative; display:block; width:130px; height:48px; margin-right:10px; text-indent:-9999px; }
	nav ul li:nth-child(1) a{ background-image:url(../img/talk/nav_01.png); }
	nav ul li:nth-child(2) a{ background-image:url(../img/talk/nav_02.png); }
	nav ul li:nth-child(3) a{ background-image:url(../img/talk/nav_03.png); }
	nav ul li:nth-child(4) a{ background-image:url(../img/talk/nav_04.png); }
	nav ul li:nth-child(5) a{ background-image:url(../img/talk/nav_05.png); }
	nav ul li a:hover{ background-position:center bottom; background-repeat:no-repeat; }
	nav ul li a:hover:before{ position:absolute; z-index:2; content:''; bottom:56px;}
	nav ul li:nth-child(1) a:hover:before{ left:0px;   width:150px; height:138px; background:url(../img/talk/nav_hover_01.png);}
	nav ul li:nth-child(2) a:hover:before{ left:-20px; width:170px; height:100px; background:url(../img/talk/nav_hover_02.png);}
	nav ul li:nth-child(3) a:hover:before{ left:-15px; width:160px; height:120px; background:url(../img/talk/nav_hover_03.png);}
	nav ul li:nth-child(4) a:hover:before{ left:-25px; width:180px; height: 75px; background:url(../img/talk/nav_hover_04.png);}
	nav ul li:nth-child(5) a:hover:before{ left:0px;   width:130px; height:110px; background:url(../img/talk/nav_hover_05.png);}
	nav ul li a, nav ul li a:hover, nav ul li a:hover:before{
		-webkit-animation: area_fadein .5s linear ;
		   -moz-animation: area_fadein .5s linear ;
			-ms-animation: area_fadein .5s linear ;
			 -o-animation: area_fadein .5s linear ;
				animation: area_fadein .5s linear ;}


	.menu_set{ display:none; position:absolute; right:40px; bottom:70px; width:110px; padding:10px; border-radius:16px; background:rgba(0,65,0,.55); text-align:right; font-size:14px; font-family:'Noto Serif TC', serif; }
	.menu_set:after{ position:absolute; content:""; width:0; height:0; left:42px; bottom:-32px;
					 border:transparent 16px solid; border-top:rgba(0,65,0,.55) 16px solid;}
	.menu_set a{ display:block; color:#fff; }
	.menu_set a:hover{ color:yellow; }

	.menu_area .menu{ width:36px; height:48px; background:url(../img/talk/icon_menu.png) center center no-repeat;}
	.menu_area .menu:hover{filter:brightness(.2); -webkit-filter:brightness(.2);}
	.menu_area .home{ position:relative; text-indent:-9999px; width:60px; height:60px; margin-left:10px; background-image:url(../img/talk/icon_home.png);}
	.menu_area .home:hover{ background-position:center bottom; background-repeat:no-repeat; }
	.menu_area .home:hover:before{ position:absolute; z-index:1; content:''; bottom:66px; right:0; width:295px; height:165px; background:url(../img/talk/icon_home_hover.png);}
	.menu_area .home, .menu_area .home:hover, .menu_area .home:hover:before{
		-webkit-animation: area_fadein .5s linear ;
		   -moz-animation: area_fadein .5s linear ;
			-ms-animation: area_fadein .5s linear ;
			 -o-animation: area_fadein .5s linear ;
				animation: area_fadein .5s linear ;}

	input[type=range] {
		-webkit-appearance:none; width:55%; margin:5px;}
	input[type=range]:focus {
		outline: none;}
	input[type=range]::-webkit-slider-runnable-track {
		width: 100%; height: 5px;
		cursor: pointer;
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 0px 0px rgba(13, 13, 13, 0.3);
		background: rgba(0, 65, 0, 0.55);
		border-radius:5px;
		border: 1px solid #ffffff;
	}
	input[type=range]::-webkit-slider-thumb {
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
		border: 1px solid rgba(0, 0, 0, 0);
		width: 10px; height: 10px;
		border-radius: 10px;
		background: #fff;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -3.5px;
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
		background: rgba(0, 90, 0, 0.55);
	}




.map-expand{ width:100%; height:100%; background:url(../img/bg_map.jpg); background-size:cover; }




/******************/
.fadeinLeft{
	-webkit-animation: area_fadein_left .5s linear ;
	   -moz-animation: area_fadein_left .5s linear ;
		-ms-animation: area_fadein_left .5s linear ;
		 -o-animation: area_fadein_left .5s linear ;
			animation: area_fadein_left .5s linear ;
}

@keyframes area_fadein_left {
	0%  { opacity:0; left:40px;}
	100%{ opacity:1; left:80px;}
}
@keyframes area_fadein{
	0%  { opacity:0;}
	100%{ opacity:1;}
}




/*** about share_logo & button ***/
	.logo{ position:absolute; z-index:5; top:5px; left:20px; width:96px; 
			padding:3px; border-radius:10px;
		-webkit-filter:brightness(10) drop-shadow(0px 0px 5px rgba(0, 0, 0, 1)) opacity(.8);
				filter:brightness(10) drop-shadow(0px 0px 5px rgba(0, 0, 0, 1)) opacity(.8);}

	.btn_back, .btn_close{ position:absolute; z-index:5; top:20px; width:30px; height:30px; cursor:pointer;}
	.btn_back { right:60px; background:#4ea45d url(../img/icon_line_back_white.png);  background-size:cover; border-radius:4px;}
	.btn_close{ right:20px; background:#4ea45d url(../img/icon_line_close_white.png); background-size:cover; border-radius:4px;}
	.btn_back:hover, .btn_close:hover,
	.btn_left:hover, .btn_right:hover  { filter: drop-shadow(0px 0px 9px rgba(255, 255, 0, 1)) contrast(100%);}
	.btn_back:active, .btn_close:active,
	.btn_left:active, .btn_right:active{ filter: drop-shadow(0px 0px 12px rgba(255,255,255,1)) contrast(100%);}
	.icon_button:hover {
			-webkit-animation: icon_button .2s linear 1;
			   -moz-animation: icon_button .2s linear 1;
				-ms-animation: icon_button .2s linear 1;
				 -o-animation: icon_button .2s linear 1;
			animation: icon_button .2s linear 1;
			animation-fill-mode: forwards;
		}
	.btn_left:hover, .btn_right:hover, .rudder_hand:hover {
			-webkit-animation: btn_rudder .2s linear 1;
			   -moz-animation: btn_rudder .2s linear 1;
				-ms-animation: btn_rudder .2s linear 1;
				 -o-animation: btn_rudder .2s linear 1;
			animation: btn_rudder .2s linear 1;
			animation-fill-mode: forwards;
		}
	@keyframes icon_button {
		from { transform: scale(1, 1);}
		to   { transform: scale(1.2, 1.2);}
		}
	@keyframes btn_rudder {
		from { transform: scale(1, 1);}
		to   { transform: scale(1.05, 1.05);}
		}